# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/
build/
coverage/

# React
node_modules/
build/
.env
*.log

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.eslintcache
.babelrc
.cache/
